# These owners will be the default owners for everything in the repo.
*	@PhotonVision/program-devs
docs/* @PhotonVision/doc-maintainers
photonlib-java-examples/* @PhotonVision/doc-maintainers
photonlib-cpp-examples/* @PhotonVision/doc-maintainers
photonlib-python-examples/* @PhotonVision/doc-maintainers
