[Unit]
Description=Photonvision
After=imx296_driver.service

[Service]
ExecStart=java -jar /home/nvidia/Documents/photonvision/photon-server/build/libs/photonvision-dev-Unknown-linuxarm64.jar

[Install]
WantedBy=multi-user.target

