@import "tailwindcss";
@theme {
  --color-primary: #006492;
  --color-brand-yellow: #ffd842;
  --color-brand-blue: #39a4d6;
}

.header-btn {
  @apply hover:text-brand-yellow text-white flex p-4 transition-colors;
}
.features-icon {
  @apply absolute top-0 left-0 flex size-10 items-center justify-center rounded-lg bg-brand-blue;
}

.fas::before,
.far::before,
.fab::before,
.fa-solid::before,
.fa-regular::before,
.fa-brands::before,
.fa::before {
  content: var(--fa);
}
