body {
    background: #212121;
}

.nav {
    background: #343334;
    box-shadow: 0 3px 5px #343334;
    padding: 5px;
}

.nav a {
    font-size: 1.5em;
    margin-left: 5px;
}

.nav a, .sidenav a {
    color: whitesmoke;
    font-family:Verdana;
    font-weight: 500;
}

.nav a:hover, .sidenav a:hover {
    color: #17a2b8;
}

.sidenav {
    height: 100%;
    width: 60px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
    box-shadow: 3px 0px 5px #111;
}

.sidenav i {
    display: inherit;
    text-align: center;
    color: white;
    margin-top: 20px;
}

#main {
    margin-left: 60px;
}