@import "@fontsource/lato/latin-300.css";
@import "@fontsource/lato/latin-400.css";
@import "@fontsource/lato/latin-700.css";

@import "tailwindcss";

@theme inline static {
  --font-sans: "Lato", sans-serif;

  --color-pv-background: var(--pv-background);
  --color-pv-surface: var(--pv-surface);
  --color-pv-primary: var(--pv-primary);
  --color-pv-secondary: var(--pv-secondary);

  --color-pv-on-background: var(--pv-on-background);
  --color-pv-on-surface: var(--pv-on-surface);
  --color-pv-accent: var(--pv-accent);
  --color-pv-error: var(--pv-error);
  --color-pv-info: var(--pv-info);
  --color-pv-success: var(--pv-success);
  --color-pv-warning: var(--pv-warning);
  --color-pv-button-active: var(--pv-button-active);
  --color-pv-button-passive: var(--pv-button-passive);
  --color-pv-logs-background: var(--pv-logs-background);
  --color-pv-sidebar: var(--pv-sidebar);

  --color-pv-surface-text: var(--pv-on-surface);
  --animate-progress: progress 1s infinite linear;
}

:root {
  --pv-on-background: oklch(from var(--pv-background) round(1.21 - L) 0 0);
  --pv-on-surface: oklch(from var(--pv-surface) round(1.21 - L) 0 0);
  --pv-accent: var(--pv-primary);
  --pv-error: var(--color-red-700);
  --pv-info: var(--color-blue-400);
  --pv-success: var(--color-green-600);
  --pv-warning: var(--color-yellow-400);
  --pv-button-active: var(--pv-primary);
  --pv-button-passive: var(--pv-secondary);
  --pv-logs-background: var(--color-slate-800);
  --pv-sidebar: var(--color-slate-700);
}

@supports (color: contrast-color(red)) {
  :root {
    --pv-on-background: contrast-color(var(--pv-background));
    --pv-on-surface: contrast-color(var(--pv-surface));
  }
}

:root[data-theme="dark"] {
  color-scheme: dark;
  --pv-accent: var(--pv-surface);
  --pv-error: var(--color-red-400);
  --pv-logs-background: var(--color-slate-900);
  --pv-sidebar: var(--color-slate-600);
  --pv-button-active: var(--pv-secondary);
}

@keyframes progress {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 30px 30px;
  }
}

@layer base {
  html {
    font-family: var(--font-sans);
    background-color: var(--color-pv-background);
    color: var(--color-pv-on-background);
    overscroll-behavior: none;
    scrollbar-gutter: stable;
  }

  /* Custom scrollbar styles */
  ::-webkit-scrollbar {
    width: 12px;
  }

  ::-webkit-scrollbar-track {
    background: var(--color-pv-background);
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-pv-accent);
    border-radius: 10px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-pv-primary);
  }

  .main-container {
    padding: 0 !important;
  }
  body {
    min-height: 100vh;
    background-color: var(--color-pv-background);
    color: var(--color-pv-on-background);
  }

  button:not(:disabled) {
    cursor: pointer;
  }
}
