@use "@fontsource/prompt";

$default-font: "Prompt", sans-serif !default;
$body-font-family: $default-font;
$heading-font-family: $default-font;
$body-background: rgb(var(--v-theme-background));

body {
  background: $body-background;
}

html {
  font-family: $default-font !important;
}

.v-row-group__header {
  background: #005281 !important;
}
.v-table
  > .v-table__wrapper
  > table
  > tbody
  > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
  background: rgba(0, 0, 0, 0.2);
}

.v-card-title,
.v-dialog > .v-overlay__content > .v-card > .v-card-title,
.v-dialog > .v-overlay__content > form > .v-card > .v-card-title {
  padding: 20px;
  word-break: break-word !important;
}

.v-card-text,
.v-dialog > .v-overlay__content > .v-card > .v-card-text,
.v-dialog > .v-overlay__content > form > .v-card > .v-card-text {
  font-size: 1rem;
  padding: 20px;
}

.v-card-subtitle,
.v-dialog > .v-overlay__content > .v-card > .v-card-subtitle,
.v-dialog > .v-overlay__content > form > .v-card > .v-card-subtitle {
  font-size: 1rem;
  padding: 20px;
}

.v-field__input {
  padding: 0px !important;
}

.pb-10px {
  padding-bottom: 10px !important;
}

.pt-10px {
  padding-top: 10px !important;
}

.pl-10px {
  padding-left: 10px !important;
}

.pr-10px {
  padding-right: 10px !important;
}

.pa-10px {
  padding: 10px !important;
}

.rounded-12 {
  border-radius: 12px;
}
