@import "@fontsource/prompt";

$default-font: "Prompt", sans-serif !default;
$body-font-family: $default-font;
$heading-font-family: $default-font;
$body-background: #282c34;

body {
  background: $body-background;
}

.v-application {
  font-family: $default-font !important;
}

.v-row-group__header {
  background: #005281 !important;
}
.theme--dark.v-data-table
  > .v-data-table__wrapper
  > table
  > tbody
  > tr:hover:not(.v-data-table__expanded__content):not(.v-data-table__empty-wrapper) {
  background: #005281 !important;
}

.v-card__title {
  word-break: break-word !important;
}
