name: Build and Distribute PhotonLibPy

permissions:
  id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing

on:
  push:
  pull_request:

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  build-and-deploy:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: 3.12

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel pytest mypy

      - name: Build wheel
        working-directory: ./photon-lib/py
        run: |
          python setup.py sdist bdist_wheel

      - name: Run Unit Tests
        working-directory: ./photon-lib/py
        run: |
            pip install --no-cache-dir dist/*.whl
            pytest

      - name: Run mypy type checking
        uses: liskin/gh-problem-matcher-wrap@v3
        with:
          linters: mypy
          run: |
            mypy --show-column-numbers --config-file photon-lib/py/pyproject.toml photon-lib

      - name: Upload artifacts
        uses: actions/upload-artifact@master
        with:
          name: dist
          path: ./photon-lib/py/dist/

      - name: Publish package distributions to TestPyPI
        # Only upload on tags
        if: startsWith(github.ref, 'refs/tags/v')
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: ./photon-lib/py/dist/

    permissions:
      id-token: write  # IMPORTANT: this permission is mandatory for trusted publishing
  
  build-python-examples:
    strategy:
      matrix:
        os: [ubuntu-24.04, windows-2022, macos-14]
    runs-on: ${{ matrix.os }}
    
    steps:

      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: 3.12

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install setuptools wheel pytest mypy numpy wpilib pyntcore opencv-python robotpy==2026.1.1b1 pyfrc

      - name: Build wheel
        working-directory: ./photon-lib/py
        run: |
          python setup.py sdist bdist_wheel

      - name: Run Unit Tests (Unix)
        working-directory: ./photon-lib/py
        if: runner.os != 'Windows'
        run: |
            pip install --no-cache-dir dist/*.whl
            pytest

      - name: Run Unit Tests (Windows)
        working-directory: ./photon-lib/py
        if: runner.os == 'Windows'
        shell: cmd
        run: |
          for %%f in (dist/*.whl) do (
          echo installing dist/%%f
          pip install --no-cache-dir dist/%%f
          )
          pytest
      
      - name: Build and configure PhotonLibPy (bash)
        working-directory: ./photon-lib/py
        if: runner.os != 'Windows'
        run: |
          ./buildAndTest.sh
          ./enableUsingDevBuilds.sh

      - name: Build and configure PhotonLibPy (pwsh)
        working-directory: ./photon-lib/py
        if: runner.os == 'Windows'
        run: |
          ./buildandTest.bat
          ./enableUsingDevBuilds.bat

    
      - name: Run mypy type checking
        uses: liskin/gh-problem-matcher-wrap@v3
        with:
          linters: mypy
          run: |
            mypy --show-column-numbers --config-file photon-lib/py/pyproject.toml photon-lib

      - name: Build Python examples
        shell: bash
        run: |
          for folder in photonlib-python-examples/*/;
          do
            echo $folder
            ./photonlib-python-examples/run.sh $folder
          done
